body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    background-image: url('assets/background1.jpg'); /* Change for different pages */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.container {
    text-align: center;
    padding-top: 100px;
}

<!-- An aside -->
<!-- This is for holding the 3D object -->
<div id="aSide">    <model-viewer src="assets/nova toxaway.gltf" alt="nova" auto-rotate camera-controls ar ios-src="assets/nova toxaway.gltf"></model-viewer>

</div>
